ROCKETRIDE_SECRET=
BUTTERBASE_API_KEY=
APPLE_HEALTH_EXPORT_XML=
OURA_ACCESS_TOKEN=
OURA_IS_VERTICAL=false
GRAPH_DATABASE_PROVIDER=neo4j
GRAPH_DATABASE_URL=
GRAPH_DATABASE_USERNAME=neo4j
GRAPH_DATABASE_PASSWORD=
LLM_API_KEY=
